@media screen and (max-width: 425px) {

    /*Navigation_Bar/////////////////////////////////////////////////////////*/

    /*Home*/
    html > body > main > section:nth-child(1) {
        height: 700px;
        margin-top: 100px;
        position: relative;
    }

    /*Headers*/
    body > main > section > aside:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    body > main > section > aside > header {
        color: white;
        font-family: Poppins;
        font-size: 50px;
        text-align: center;
    }

    /*Typing Image*/
    body > main > section > aside > a > img {
        width: 300px;
        margin-left: -100px;
        z-index: 1;
    }

    /*DP Section*/
    body > main > section > aside:nth-child(2) {
        width: 100vw;
        display: flex;
        justify-content: right;
        right: 0;
        position: absolute;
    }

    /*My DP*/
    body > main > section > aside:nth-child(2) figure > img {
        margin-top: 200px;
        width: 350px;
    }

    body > main > section > aside > aside {
        width: 100vw;
        margin-top: 450px;
        z-index: 5;
    }

    body > main > section > aside > aside > nav {
        align-items: center;
        justify-content: center;
        margin-top: 520px;
    }
}
