@media screen and (max-width: 320px) {

}

@media screen and (max-width: 375px) {

}

@media screen and (max-width: 425px) {

    /*Navigation_Bar/////////////////////////////////////////////////////////*/
    /*Home*/
    html > body > main > section:nth-child(1) {
        height: 700px;
        margin-top: 100px;
        position: relative;
    }

    /*Headers*/
    body > main > section > aside:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    body > main > section > aside > header {
        color: white;
        font-family: Poppins;
        font-size: 50px;
        text-align: center;
    }

    /*Typing Image*/
    body > main > section > aside > a > img {
        width: 300px;
        margin-left: -100px;
        z-index: 1;
    }

    /*DP Section*/
    body > main > section > aside:nth-child(2) {
        width: 100vw;
        display: flex;
        justify-content: right;
        right: 0;
        position: absolute;
    }

    /*My DP*/
    body > main > section > aside:nth-child(2) figure > img {
        margin-top: 200px;
        width: 350px;
    }

    body > main > section > aside > aside {
        width: 100vw;
        margin-top: 450px;
        z-index: 5;
    }

    body > main > section > aside > aside > nav {
        align-items: center;
        justify-content: center;
        margin-top: 520px;
    }

    /*About Me*/
    .my_details {
        position: relative;
        width: 100%;
        height: 420px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .download_section {
        position: relative;
        width: 100%;
        height: 30px;
        left: 30px;
        right: 0;
        margin: auto;
    }

    .about_me_section {
        position: relative;
        height: 1000px;
    }

    /*ContactMe//////////////////////////////////////////////////////////////*/
    .contact_me_section {
        position: relative;
        height: 750px;
    }

    .contact_me_section > address {
        position: relative;
        width: 100%;
        height: 200px;
    }

    html > body > footer > section > address > fieldset > input {
        width: 75%;
    }

    textarea {
        width: 75%;
    }

    html > body > footer > section > address > fieldset > button {
        width: 155px;
        margin-left: 212px;
    }

    html > body > footer > section > aside {
        position: relative;
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
    }

    .contact_me_section > aside {
        position: relative;
    }

    html > body > footer > section > section > aside {
        display: none;
    }

    html > body > footer > section > section > aside > figure > img {
        width: 300px;
        height: 100%;
        position: relative;
        left: 40px;
    }

    html > body > footer > section > section > aside > article > p {
        top: 0;
        width: 300px;
        height: 100%;
        position: relative;
        left: 40px;
        text-align: center;
        color: white;
        font-family: Poppins;
    }

    .social_media {
        position: relative;
        padding-top: 50px;
    }

    html > body > footer > small {
        position: relative;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        justify-content: center;
        display: flex;
        color: white;
        font-family: Poppins;
    }
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 1440px) {

}
