@media screen and (max-width: 1441px) {
    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 1100px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 550px;
    }
}

@media screen and (max-width: 1200px) {
    .icons {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 350px;
    }

    html > body > footer > section > section > aside {
        display: none;
    }

    html > body > footer > section > section > address > fieldset > input {
        width: 90%;
    }

    textarea {
        width: 90%;

    }
}

@media screen and (max-width: 1025px) {
    .in_black {
        width: 403px;
    }

    body > main > section > aside > a > img {
        width: 600px;
        margin-left: -100px;
        z-index: 1;
    }

    .hackerRank {
        position: absolute;
        width: 450px;
        left: 40px;
    }

    .soloLearn {
        position: absolute;
        width: 450px;
        right: 40px;

    }

    .icons {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 350px;
    }

    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 800px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 400px;
    }
}

@media screen and (max-width: 769px) {
    /*dp*/
    body > main > section > aside:nth-child(2) figure > img {
        margin-top: 200px;
        width: 290px;
    }

    .projects {
        margin-top: 150px;
    }

    .certificates img {
        position: absolute;
        flex-direction: row;
    }

    .hackerRank {
        position: absolute;
        flex-direction: row;
        width: 300px;
        left: 40px;
    }

    .soloLearn {
        position: absolute;
        flex-direction: row;
        width: 300px;
        right: 40px
    }

    .icons {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 250px;
    }

    html > body > main#home > section > section.certificates > div > img {
        /*width: 43%;*/
    }

    html > body > main#home > section > section.icons > div > img {
        width: 70px;
    }

    /*Activity*/
    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 500px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 250px;
    }

    body {
        overflow-x: hidden;
    }

    #download_button {
        margin-left: 25px;
        width: 155px;
        margin-right: 10px;
    }

    /*Contact me*/
    html > body > footer > section > section > address > fieldset > input {
        width: 635px;
    }

    textarea {
        width: 635px;
    }

}

@media screen and (max-width: 426px) {

    /*Navigation_Bar/////////////////////////////////////////////////////////*/
    /*Home*/
    html > body > main > section:nth-child(1) {
        height: 700px;
        margin-top: 100px;
        position: relative;
    }

    /*Headers*/
    body > main > section > aside:nth-child(1) {
        width: 100%;
        height: 100%;
    }

    body > main > section > aside > header {
        color: white;
        font-family: Poppins;
        font-size: 50px;
        text-align: center;
    }

    body {
        overflow-x: hidden;
    }

    /*Typing Image*/
    body > main > section > aside > a > img {
        width: 300px;
        margin-left: -100px;
        z-index: 1;
    }

    /*DP Section*/
    body > main > section > aside:nth-child(2) {
        width: 100vw;
        display: flex;
        justify-content: right;
        right: 0;
        position: absolute;
    }

    /*My DP*/
    body > main > section > aside:nth-child(2) figure > img {
        margin-top: 200px;
        width: 350px;
    }

    nav > figure > img {
        height: 70px;
    }

    body > main > section > aside > aside {
        width: 100vw;
        margin-top: 450px;
        z-index: 5;
    }

    body > main > section > aside > aside > nav {
        align-items: center;
        justify-content: center;
        margin-top: 520px;
    }

    /*About Me*/
    section > p:nth-child(1) {
        position: relative;
        flex-direction: column;
        font-size: 11px;
    }

    section > p:nth-child(2) {
        position: relative;
        flex-direction: column;
        font-size: 11px;
    }

    section > p:nth-child(3) {
        position: relative;
        flex-direction: column;
        font-size: 11px;
    }

    .my_details {
        position: relative;
        width: 100%;
        height: 420px;
        left: 15px;
        right: 0;
        /*margin-: auto;*/
        justify-content: center;
    }

    .download_section {
        position: relative;
        width: 100%;
        height: 30px;
        left: 45px;
        right: 0;
        margin: auto;
    }

    .about_me_section {
        position: relative;
        height: 1000px;
    }

    #download_button {
        margin-left: 0px;
        width: 155px;
        margin-right: 10px;
    }

    .projects {
        margin-top: 20px;
    }

    .certificates {
        position: relative;
        flex-direction: column;
    }

    .certificates .hackerRank {
        position: relative;
        flex-direction: column;
        width: 350px;
        left: 30px;

    }

    .certificates .soloLearn {
        position: relative;
        left: 30px;
        flex-direction: column;
        width: 350px;

    }

    .icons {
        display: flex;
        position: relative;
        justify-content: center;
        margin-top: 20px;
    }

    html > body > main#home > section > section.icons > div > img {
        width: 40px;
    }

    /*Activity*/
    .meetUp {
        display: inline-block;
    }

    .valentine {
        display: inline-block;
    }

    /*html > body > main#home > section > div.valentine > article > p {
        display: inline-block;
    }*/

    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 380px;
        margin-left: 10px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 190px;
        margin-left: 10px;

    }

    /*ContactMe//////////////////////////////////////////////////////////////*/
    .contact_me_section {
        position: relative;
        height: 750px;
    }

    .contact_me_section > address {
        position: relative;
        width: 100%;
        height: 200px;
    }

    html > body > footer > section > section > address > fieldset > input {
        width: 295px;
    }

    textarea {
        width: 295px;
    }

    html > body > footer > section > address > fieldset > button {
        width: 155px;
        margin-left: 212px;
    }

    html > body > footer > section > aside {
        position: relative;
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
    }

    .contact_me_section > aside {
        position: relative;
    }

    html > body > footer > section > section > aside {
        display: none;
    }

    html > body > footer > section > section > aside > figure > img {
        width: 300px;
        height: 100%;
        position: relative;
        left: 40px;
    }

    html > body > footer > section > section > aside > article > p {
        top: 0;
        width: 300px;
        height: 100%;
        position: relative;
        left: 40px;
        text-align: center;
        color: white;
        font-family: Poppins;
    }

    .social_media {
        position: relative;
        padding-top: 50px;
    }

    html > body > footer > small {
        position: relative;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        justify-content: center;
        display: flex;
        color: white;
        font-family: Poppins;
    }
}

@media screen and (max-width: 376px) {

    /*About Me*/
    .my_details {
        position: relative;
        width: 100%;
        height: 420px;
        left: -10px;
        right: 0;
        /*margin-: auto;*/
        justify-content: center;
    }

    .download_section {
        position: relative;
        width: 100%;
        height: 30px;
        left: 20px;
        right: 0;
        margin: auto;
    }

    .projects {
        margin-top: 100px;
    }

    /*Skills*/
    .certificates .hackerRank {
        position: relative;
        flex-direction: column;
        width: 300px;
        left: 30px;

    }

    .certificates .soloLearn {
        position: relative;
        left: 30px;
        flex-direction: column;
        width: 300px;

    }

    html > body > main#home > section > section.icons > div > img {
        width: 35px;
    }

    /*Activity*/

    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 340px;
        margin-left: 10px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 162px;
        margin-left: 10px;
    }


    /*ContactMe//////////////////////////////////////////////////////////////*/
    html > body > footer > section > section > address > fieldset > input {
        width: 250px;
    }

    textarea {
        width: 250px;
    }
}

@media screen and (max-width: 321px) {
    /*My DP*/
    body > main > section > aside:nth-child(2) figure > img {
        margin-top: 200px;
        width: 290px;
    }

    html > body > main > section > aside > a {
        margin-left: 125px;
        width: 50px;
        z-index: 1;
    }

    body > main > section > aside > a > img {
        width: 260px;
        margin-left: -100px;
        z-index: 1;
    }

    nav > figure > img {
        height: 60px;
    }

    body > main > section > aside > aside > nav {
        align-items: center;
        justify-content: center;
        margin-top: 450px;
    }


    element.style {
    }

    body > main > section > aside > aside {
        width: 94vw;
        margin-top: 450px;
        z-index: 5;
    }

    #download_button {
        margin-left: 0px;
        width: 151px;
        margin-right: 10px;
    }

    #hire_me_button {
        width: 134px;
    }

    /*Contact me*/
    html > body > footer > section > section > address > fieldset > input {
        width: 195px;
    }

    textarea {
        width: 195px;
    }

    /*About Me*/
    .about_me_section {
        margin-top: 0px;
    }

    html > body > main > section > div:nth-child(1) {
        /* background-color: rgba(0, 0, 0, 0.5); */
        /* background-color: black; */
        margin-bottom: 20px;
        height: 60px;
        position: sticky;
        top: 60px;
    }

    .my_details {
        position: relative;
        width: 100%;
        height: 420px;
        left: -39px;
        right: 0;
        justify-content: center;
    }

    .download_section {
        position: absolute;
        width: 300px;
        height: 20px;
        left: 0;
        right: 0;
        margin: auto;
    }

   /* .download_section > button {
        width: 100px;
    }*/

    html > body > main#home > section.about_me_section> section.my_details > aside.download_section> button:nth-child(2){
        width: 134px;
        margin-right: 10px;
        /*margin-left: 212px;*/
    }

    html > body > main > section > div:nth-child(1) {
        /*background-color: rgba(0, 0, 0, 0.5);*/
        /*background-color: black;*/
        margin-bottom: 20px;
        height: 60px;
        position: sticky;
        top: 60px;
    }

    .projects {
        margin-top: 200px;
    }

    /*Skills*/
    .certificates .hackerRank {
        position: relative;
        flex-direction: column;
        width: 280px;
        left: 10px;

    }

    .certificates .soloLearn {
        position: relative;
        left: 10px;
        flex-direction: column;
        width: 280px;

    }

    html > body > main#home > section > section.icons > div > img {
        width: 30px;
    }

    /*Activity*/

    html > body > main#home > section.funActivity > div.meetUp > img {
        width: 285px;
        margin-left: 10px;
    }

    html > body > main#home > section > div.valentine > img {
        width: 135px;
        margin-left: 10px;
    }


}








