* {
    color: white;
    border: 10px;
}

/*header*/
header > nav {
    background-color: black;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    display: flex;
    color: white;
    text-align: right;
    z-index: 1;
}

/*Home*/
body > main > section:nth-child(1) {
    margin-top: 100px;
    position: relative;
}

body > main > section > aside:nth-child(1) {
    width: 60%;
    height: 100%;
}

body > main > section > aside > aside > nav {
    align-items: center;
    justify-content: center;

}

body > main > section > aside > header {
    color: white;
    font-family: Poppins;
    font-size: 80px;
    text-align: center;
}

body > main > section > aside > p {
    color: white;
    font-family: Poppins;
    text-align: center;
}

body > main > section > aside:nth-child(2) {
    width: 40%;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    position: absolute;
}


body > main > section > aside > aside > nav {
    display: flex;
}

/*About Me*/
body > main > section:nth-child(2) {
    position: relative;
    padding-top: 0;
}

/*main > section:nth-child(2) > div{
    position: sticky;
    background-color: yellow;
    color: white;
    height: 100px;
    width: 100vw;
    display: flex;
}*/

.box {
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    border-radius: 50px;
    line-height: 30px;
    margin-top: 20px;
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-family: Poppins;
    font-weight: bold;
}

.skill{

}

a {
    text-decoration: none;
}

header > nav > menu > div > a {
    padding-left: 20px;
}


main > section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#my_paragraph {
    color: black;
}

p {
    color: white;
    font-family: Poppins;
}

h1 {
    color: deepskyblue;
}

label {
    color: aqua;
}

/*a{
    color: pink;
}*/

/*header{
    color: blueviolet;
    font-size: 200%;
}*/

a:hover {
    color: aqua;
    cursor: pointer;
}

dd {
    color: orange;
}

/*input{
    color: pink;
    border: 2px solid red;
}*/

/*button{
    color: blueviolet;
}*/

button {
    background-color: white; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
}

.button-pallet {
    float: right;
}

/*a:visited{
    color: red;
}*/

/*h1:before{
    content: "⭐";
    color: red;
}*/

h1:first-letter {
    color: chartreuse;
    font-size: 200%;
}

p::selection {
    background-color: red;
    color: white;
}

p1 {
    color: white;
}

small {
    justify-content: center;
    display: flex;
    color: white;
}

li::marker {
    content: "🎯";
    color: red;
}

input::placeholder {
    color: yellow;
}

input::file-selector-button {
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
}





