* {
    color: white;
    border: 10px;
}

/*header*/
header > nav {
    background-color: black;
    width: 100%;
    align-items: center;
    position: fixed;
    top: 0;
    display: flex;
    color: white;
    text-align: right;
    z-index: 4;
}

/*Home*/
body > main > section:nth-child(1) {
    margin-top: 100px;
    position: relative;
}

body > main > section > aside:nth-child(1) {
    width: 60%;
    height: 100%;
}

body > main > section > aside > aside > nav {
    align-items: center;
    justify-content: center;

}

body > main > section > aside > header {
    color: white;
    font-family: Poppins;
    font-size: 80px;
    text-align: center;
}

body > main > section > aside > p {
    color: white;
    font-family: Poppins;
    text-align: center;
}

body > main > section > aside:nth-child(2) {
    width: 40%;
    display: flex;
    justify-content: center;
    top: 0;
    right: 0;
    position: absolute;
}


body > main > section > aside > aside > nav {
    display: flex;
}

/*About Me*/

html > body > main > section > div {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    height: 60px;
}

html > body > footer > section > div {
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    height: 60px;
}

html > body > main > section > div > header {
    color: white;
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;

}

html > body > footer > section > div > header {
    color: white;
    font-size: 40px;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-left: 10px;
}

body > main > section:nth-child(2) {
    position: relative;
    padding-top: 0;
}

/*main > section:nth-child(2) > div{
    position: sticky;
    background-color: yellow;
    color: white;
    height: 100px;
    width: 100vw;
    display: flex;
}*/

.box {
    width: 300px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    padding-left: 10px;
    border-radius: 50px;
    line-height: 30px;
    margin-top: 20px;
    /*padding-top: -30px;*/
    display: inline-flex;
    /*margin-left: 30px;*/
    color: white;
    font-family: Poppins;
    font-weight: bold;
    position: center;
    /*margin: fill;*/
}

html > body > main > section > aside > aside > aside > button {
    justify-content: center;
    align-items: center;
    display: inline;
    font-family: Poppins;
    margin-top: 20px;
    margin-left: 10px;
}

html > body > main > section > aside > aside > aside:nth-child(2) {
    margin-top: 20px;
    margin-left: 200px;
}

label {
    color: aqua;
    font-family: Poppins;
    font-weight: bold;
    text-decoration: none;
}

.container {
    height: 15px;
    width: 450px;
    background-color: white;
    border-radius: 50px;
    z-index: 1;
}

.skill {
    height: 15px;
    width: 80%;
    background-color: aqua;
    border-radius: 50px;
    z-index: 2;
}

.skillBar {
    width: 40%;
    display: inline;
    justify-content: center;
    right: 0;
    top: 300px;
    position: absolute;
}

/*Gallery*/
.gallery {
    width: 98vw;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 5px;
}

.picture_border {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px 2px rgb(0 0 0 /30%);
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(1) {
    grid-column: 1/3;
    background-image: url("/assets/img/IMG_20220920_170949-012.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(2) {
    grid-column: 3/5;
    grid-row: 1/3;
    background-image: url("/assets/img/IMG_7083-01-01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(3) {
    grid-column: 5/7;
    background-image: url("/assets/img/IMG-20210207-WA0104-01-01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(4) {
    grid-column: 1/3;
    grid-row: 2/3;
    background-image: url("/assets/img/Picsart_22-07-21_20-09-19-414.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(5) {
    background-image: url("/assets/img/IMG_20220214_192439_714-01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

html > body > main > section > section > aside.gallery > div.picture_border:nth-child(6) {
    background-image: url("/assets/img/IMG_20220626_135701_684-01.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

/*ContactMe*/

html > body > footer > section > address > fieldset {
    display: inline-block;
    /*display: flex;*/
}

html > body > footer > section > address > fieldset >label {
    display: inline-block;
}

html > body > footer > section > address > fieldset >input {
    color: black;
    border-radius: 50px;
    display: inline-block;
    left: 100px;
    position: absolute;

}

textarea{
    color: black;
    border-radius: 10px;
    left: 100px;
    position: absolute;
}

a {
    text-decoration: none;
}

header > nav > menu > div > a {
    padding-left: 20px;
}


main > section {
    margin-top: 50px;
    margin-bottom: 50px;
}

#my_paragraph {
    color: black;
}

p {
    color: white;
    font-family: Poppins;
}

h1 {
    color: deepskyblue;
}


/*a{
    color: pink;
}*/

/*header{
    color: blueviolet;
    font-size: 200%;
}*/

a:hover {
    color: aqua;
    cursor: pointer;
}

dd {
    color: orange;
}

/*input{
    color: pink;
    border: 2px solid red;
}*/

/*button{
    color: blueviolet;
}*/

button {
    background-color: dodgerblue; /* Green */
    border: none;
    color: white;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    font-family: Poppins;
    font-weight: bold;
    /*position: absolute;
    display: flex;*/
}

.button-pallet {
    float: right;
}

h1:first-letter {
    color: chartreuse;
    font-size: 200%;
}

p::selection {
    background-color: red;
    color: white;
}

p1 {
    color: white;
}

small {
    justify-content: center;
    display: flex;
    color: white;
}

li::marker {
    content: "🎯";
    color: red;
}

input::placeholder {
    color: yellow;
}

input::file-selector-button {
    color: white;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
}





